/* Import font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
  /* Set the font family to "Alegreya Sans" for all elements */
}

body {
  background: #343541;
  /* Set the background color of the page to a dark gray */
}

/* Chat app styles */
#app {
  width: 100vw;
  height: 100vh;
  background: #f4f4f4;
  /* Set the background color of the chat app to a light gray */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#chat_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  /* Add vertical scrolling to the chat container */

  display: flex;
  flex-direction: column;
  gap: 10px;

  -ms-overflow-style: none;
  /* Hide the scrollbar in Internet Explorer and Edge */
  scrollbar-width: none;
  /* Hide the scrollbar in Firefox, Chrome, and Safari */

  padding-bottom: 20px;
  scroll-behavior: smooth;
  /* Enable smooth scrolling */
}

/* Hide the scrollbar in Firefox, Chrome, and Safari */
#chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 15px;
}

.ai {
  background: #f4f4f4;
}

.chat {
  width: 100%;
  max-width: 1280px;
  /* Set a maximum width for the chat container */
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 50%;

  background: #5436DA;
  /* Set the background color of the user profile to a shade of blue */

  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #10a37f;
  /* Set the background color of the AI profile to a shade of green */
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;

  color: #333;
  font-size: 20px;

  max-width: 100%;
  overflow-x: scroll;
  /* Add horizontal scrolling to the message container */

  /* Allow text to wrap */
  white-space: pre-wrap;

  -ms-overflow-style: none;
  /* Hide the scrollbar in Internet Explorer and Edge */
  scrollbar-width: none;
  /* Hide the scrollbar in Firefox, Chrome, and Safari */
}

/* Hide the scrollbar in Firefox, Chrome, and Safari */
.message::-webkit-scrollbar {
  display: none;
}

form {
  width: 100%;
  max-width: 1280px;
  /* Set a maximum width for the form */
  margin: 0 auto;
  padding: 10px;
  background: #f4f4f4;

  display: flex;
  flex-direction: row;
  gap: 10px;
}


textarea {
  width: 100%;

  color: #333;
  font-size: 18px;

  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

form img {
  width: 30px;
  height: 30px;
}